{% extends 'worker/base.html' %}
{% load static %}
{% block content %}
<section class="section-padding">
    <div class="container">
        <div class='main-title'>
            <h1 class="pb-lg-5">
                Help
            </h1>
            <h4>1. Join Vamux</h4>
                <p class="pl-lg-5">
                    We have developed a unique system that reads your 23andMe results and detects your genetic risk for developing 8 types of cancer, plus diabetes, migraine and more. See the full list here.
                    We are consistently optimizing the data for accuracy so you can be sure that your genetic predisposition report is based on cutting edge science and best practice.
                </p>
            <h4>2. Claimed task</h4>
                <p class="pl-lg-5">
                    We have developed a unique system that reads your 23andMe results and detects your genetic risk for developing 8 types of cancer, plus diabetes, migraine and more. See the full list here.
                    We are consistently optimizing the data for accuracy so you can be sure that your genetic predisposition report is based on cutting edge science and best practice.
                </p>
            <h4>3. Get paid</h4>
                <p class="pl-lg-5">
                    We have developed a unique system that reads your 23andMe results and detects your genetic risk for developing 8 types of cancer, plus diabetes, migraine and more. See the full list here.
                    We are consistently optimizing the data for accuracy so you can be sure that your genetic predisposition report is based on cutting edge science and best practice.
                </p>
            <h4>4. Contact</h4>
                <p class="pl-lg-5">
                    We have developed a unique system that reads your 23andMe results and detects your genetic risk for developing 8 types of cancer, plus diabetes, migraine and more. See the full list here.
                    We are consistently optimizing the data for accuracy so you can be sure that your genetic predisposition report is based on cutting edge science and best practice.
                </p>
        </div>
        
    </div>

</section>

{% endblock %}