{% extends 'superuser/base.html' %}
{% load static %}
{% block content %}
<section class="section-padding">
    <div class="container">
        <div class="alert alert-success" id="success-alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Success! </strong> You approved a task successfully
        </div>
        <div class="alert alert-danger" id="danger-alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Error! </strong> Check your network connection.
        </div>
        <div class="row">
            <div class='main-title'>
                <h1>
                    Purchase Screenshots:
                </h1>
            </div>
        </div>
        <div class="product_screenshots">
            {% for task in tasks %}
                <div class="row pb-md-3 m-0">
                    <div class="col col-md-2 mb-3">
                        <label for="task1" class="p-lg-3">Task ID: {{task.id}}</label>
                        <!-- <div class="box-inner box screenshots" data-toggle="modal" data-task_id="{{task.id}}" data-target="#img_modal">
                            <i class="fa fa-search-plus"></i>
                            
                        </div> -->
                    </div>
                    <div class="col col-md-10 mb-3">
                        <img  class="w-100 img-border" src="{{ task.screenshot }}">  
                    </div>
                </div>
            {% endfor %}
            {% if not tasks %}
                    <div class="col col-md-12 no-result-found" >
                        <i class="fa fa-ban" aria-hidden="true"></i> <span>No results found</span>
                    </div>
            {% endif %}
        </div>
    </div>

</section>
 <!-- Modal -->
 <div class="modal fade" id="img_modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close modal-close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Task Detail</h4>
        </div>
        <div class="modal-body">
            <div class="modal-image-preview"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}