{% extends 'register/base.html' %}
{% block content %}
    <section class="section-padding">
        <div class="container">
            <div class="col col-md-6 col-md-offset-3 register-form">
                <div class="p-15">
                    <div class="box">
                        <p>
                            We've emailed you instructions for setting your password, if an account exists with the
                            email you entered.
                            You should receive them shortly.
                        </p>
                        <p>
                            If you don't receive an email, please make sure you've entered the address you registered
                            with,
                            and check your spam folder.
                        </p>
                        <p>
                            <a href="{% url 'home' %}">
                                Return to home page
                            </a>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    
    </section>
{% endblock %}