{% extends 'register/base.html' %}
{% block content %}

<section class="section-padding">
    <div class="container">
        <div class="col col-md-6 col-md-offset-3 register-form">
            <div class="p-15">
                <div class='main-title'>
                    <h1>
                        Enter new password
                    </h1>
                </div>
                <div class="box">
                    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                    <form class="form pt-lg-5" method="POST">
                        {% csrf_token %}
                            
                            <div class="row pt-md-4">
                                <div class="col col-sm-4">
                                    <label for="">New password:</label>
                                </div>
                                <div class="col col-sm-8">
                                    <input class="form-control" type="password" id="id_new_password1" name="new_password1" autocomplete="new-password" required>
                                </div>
                            </div>
                            <div class="row pt-md-4">
                                <div class="col col-sm-4">
                                    <label for="">Confirm password:</label>
                                </div>
                                <div class="col col-sm-8">
                                    <input class="form-control" type="password" id="id_new_password2" name="new_password2" autocomplete="new-password" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-sm-4">

                                </div>
                                <div class="col col-sm-8">
                                    {% for field in form %}
                                    {% for error in field.errors %}
                                        <p style="color: red;">{{error}}</p>
                                    {% endfor %}
                                {% endfor %}
                                </div>
                            </div>
                        <div class="row pt-md-4">
                            <div class="col col-sm-4">
                            </div>
                            <div class="col col-sm-8 submit-btn">
                                <button class="btn theme-btn-s2" style="width: 100%;" type="submit">Change my password</button>
                            </div>
                        </div>                    
                    </form>
                </div>
            </div>
            
        </div>
    </div>

</section>

{% endblock %}